.container{
    margin: 60px 80px 60px 80px
}
.main{
    background-image: url(../assets/image/Media/Image1.png);
    background-position: center;
    height: 600px;
    width: auto;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;
}
.active{
    background-color: rgb(18, 216, 0);
   
}
.notselected {
    text-decoration: none;
    color: white;
    background-color: rgb(0, 115, 182);
    }
a{
text-decoration:none
}
a:visited {
    color: rgb(255, 255, 255);
  }
.home{
    float: right;
    margin-top: -750px;
    margin-right: 650px;
    list-style-type: none;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 50px;
    color: white;
    border: 2px solid;
    border-color: rgb(4 70 108);
        
}
.about{
    float: right;
    margin-top: -750px;
    margin-right: 450px;
    list-style-type: none;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 50px;
    color: white;
    border: 2px solid;
    border-color: rgb(4 70 108);
}
.contact{
    float: right;
    margin-top: -750px;
    margin-right: 215px;
    list-style-type: none;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 50px;
    color: white;
    border: 2px solid;
    border-color: rgb(4 70 108);
}
.rules{
    float: right;
    margin-top: -750px;
    margin-right: 10px;
    list-style-type: none;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 50px;
    color: white;
    border: 2px solid;
    border-color: rgb(4 70 108);
}
.nospace{
    color: rgb(0, 0, 0);
    font-size: 125px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10px;
}
.ruletitle{
    text-align: center;
    margin: 50px;
    padding-top: 100px;
    font-size: 50px;
    font-weight: bold;
}
.ruletext{
    text-align: justify;
    font-size: 25px;
    margin-left: 200px;
    margin-right: 200px;
}
.ruleslist{
    font-weight: bold;
}
.alpha{
    list-style-type: upper-alpha;
}
.lower{
    list-style-type: lower-alpha;
}
.subtitle{
    text-align: center;
    font-weight: normal;
    font-size: 35px;
    font-style: italic;
    padding-bottom: 45px;
}
.sub{
    text-align: center;
    height: auto;
    width: auto;
    font-size: 60px;
    font-weight: bold;
    color: black;
    background-color: rgb(0, 115, 182);
    margin: 0;
    padding: 10px;
    border: 4px solid;
}
.logo{
    position: absolute;
    top: 850px;
    max-width: auto;
    height: 15%;
}
.texto{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 1350px;;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto; 
    font-size: x-large;
}
.navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
    margin: 0;
    width: fit-content;
    flex-direction: row;
    flex-wrap: nowrap;
    font-weight: bold;
    column-gap: 50px;
  }
  
.navigation a {
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    color: white;
}
.navigation > li{
      background-color: rgb(0, 115, 182);
      border: 2px solid;
}
.flex-container{
    position: absolute;
    top: 80px;
    right: 95px;
}