.container{
    margin: 60px 80px 60px 80px
}
.main{
    background-image: url(../assets/image/Media/Image1.png);
    background-position: center;
    height: 600px;
    width: auto;
    padding: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 110px;
}
.active{
    background-color: rgb(18, 216, 0);
    
}
.home{
    float: right;
    margin-top: -750px;
    margin-right: 625px;
    list-style-type: none;
    background-color: rgb(0, 115, 182);
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 50px;
        
}
.about{
    float: right;
    margin-top: -750px;
    margin-right: 400px;
    list-style-type: none;
    background-color: rgb(0, 115, 182);
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 50px;
    
}
.contact{
    float: right;
    margin-top: -750px;
    margin-right: 150px;
    list-style-type: none;
    background-color: rgb(0, 115, 182);
    font-size: 40px;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 15px 50px;
}
.nospace{
    color: rgb(0, 0, 0);
    font-size: 125px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -10px;
}
.sub{
    text-align: center;
    height: auto;
    width: auto;
    font-size: 60px;
    font-weight: bold;
    color: black;
    background-color: rgb(0, 115, 182);
    margin: 0;
    padding: 10px;
}
.logo{
    position: absolute;
    top: 850px;
    max-width: auto;
    height: 15%;
}
.texto{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 1350px;;
    bottom: 0;
    left: 0;
    right: 0;   
    margin: auto; 
    font-size: x-large;
}